html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

form {
    margin-bottom: 0px;
}

#page {
    margin-top: 60px;
}

.hidden {
    display: none;
}

.btn {
    outline: none !important;
}

blockquote.redactor_editor {
    border: none;
    margin-bottom: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0px auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

.container .credit {
    margin: 20px 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.form-signin {
    max-width: 300px;
    margin: 100px auto 20px;
}

.form-signin fieldset {
    margin-bottom: 20px;
}

.deleted {
    color: #999;
    text-decoration: line-through;
}

#user-grid-filter {
    float: left;
    margin-bottom: 5px;
}

.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
    margin-right: 0px;
    width: 18px;
}

img.image-select {
    margin: 10px;
    margin-bottom: 20px;
}

.input-append,
.input-prepend {
    margin-bottom: 10px;
}

.table-bordered .column-header {
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #E9E9E9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* IE10+ */
    background: linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FAFAFA', endColorstr = '#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
    padding: 8px;
}

.grid-view .filters .filter-container {
    padding: 0px;
}

.grid-view .filters input,
.grid-view .filters select {
    min-height: 30px;
    box-sizing: border-box;
}

.grid-view table.items th:hover a:after {
    background: none;
}

.grid-view table.items tr:first-child {

    position: relative;

    background: #E9E9E9;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #E9E9E9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* IE10+ */
    background: linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FAFAFA', endColorstr = '#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";

    border: 1px solid #D5D5D5;

    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    -webkit-background-clip: padding-box;
}

.ajax-loader {
    display: none;
}

i[class^="icon-"] {
    text-decoration: none;
}

.button-column i[class^="icon-"] {
    color: #333;
}

.button-column i[class^="icon-"]:hover {
    color: #666;
}

.grid-view table thead a {
    text-decoration: none;
}

.grid-view table thead span.icon-sort-down {
    margin-top: -5px;
}

#issue-grid tbody tr:hover td {
    background-color: #eee;
}

#issue-grid tbody tr {
    cursor: pointer;
}

.label-very-important,
.badge-very-important {
    background-color: #CA0603;
}

.label-very-important,
.badge-very-important {
    -webkit-animation: pulse 0.5s infinite ease-in-out;
    animation: pulse 0.5s infinite ease-in-out;
}

#main-menu .notifications a.active i {
    -webkit-animation: pulse2 0.5s infinite ease-in-out;
    animation: pulse2 0.5s infinite ease-in-out;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    10% { transform: scale(1); }
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}

@keyframes pulse2 {
    0% { font-size: 1em; }
    50% { font-size: 1.2em; }
    10% { font-size: 1em; }
}

@-webkit-keyframes pulse2 {
    0% { font-size: 1em; }
    50% { font-size: 1.2em; }
    100% { font-size: 1em; }
}

#Issue_assignedTo option[value="unassigned"]
{
    color: #aaa;
    font-style: italic !important;
}

#activity-list .well {
    position: relative;
    margin-bottom: 8px;
}

#activity-list blockquote {
    margin: 8px 0px 0px 0px;
    padding-left: 10px;
}

#activity-list span.date,
.notification span.date {
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    color: #888;
}

#activity-list span.options {
    position: absolute;
    top: 6px;
    right: 8px;
}

#activity-list span.nobody,
.notification span.nobody {
    color: #888;
    font-style: italic;
}

#activity-list-view,
#notification-list-view {
    padding-top: 0px;
}

#activity-list-options {
    overflow: auto; 
    margin-bottom: 10px;
}

@media all and (min-width: 1200px) {
    #issue-view table.detail-view {
        float: left;
        width: 50%;
    }
    
    #activity-list {
        float: right;
        width: 49%;
    }
}

.comment-update .redactor_box {
    margin: 6px 0px;
}

.comment-update blockquote + .edit-actions {
    display: none;
}

.comment-update textarea {
    display: none;
}

#main-menu .notifications a.active i {
    color: #d00;
}

#notifications{position:absolute;top:0;left:0;z-index:1010;display:none;max-width:276px;padding:1px;text-align:left;background-color:#ffffff;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, 0.2);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);white-space:normal;}
#notifications.bottom{margin-top:10px;}
#notifications .arrow,#notifications .arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid;}
#notifications .arrow{border-width:11px;}
#notifications .arrow:after{border-width:10px;content:"";}
#notifications.bottom .arrow{left:50%;margin-left:-11px;border-top-width:0;border-bottom-color:#999;border-bottom-color:rgba(0, 0, 0, 0.25);top:-11px;}
#notifications.bottom .arrow:after{top:1px;margin-left:-10px;border-top-width:0;border-bottom-color:#ffffff;}

#notifications {
    display: none;
    max-width: 600px;
    width: 600px;
    position: fixed;
    top: 45px;
    right: 10px;
    left: auto !important;
}

#notifications .popover-content {
    overflow: auto;
    max-height: 500px;
}

.notification {
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
}

.notification:first-child {
    padding-top: 5px;
}

.notification:last-child {
    border-bottom: none;
    padding-bottom: 5px;
}

.popover-title a {
    text-decoration: none;
}

